# Ignorar el directorio .terraform
.terraform*

# Ignorar archivos de estado de Terraform
*.tfstate*

# Ignorar archivos temporales o específicos del sistema
.override*

# Ignorar la clave publica
*.pem