server {
    listen 80;
    server_name {{ domain_name }};

    root /var/www/html;
    index index.php index.html index.htm;

    # Detectar HTTPS a través del header del ALB
    set $https_forwarded "";
    if ($http_x_forwarded_proto = "https") {
        set $https_forwarded "on";
    }

    # Configuración general
    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        include fastcgi_params;
        fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;

        # Añadir headers de proxy para HTTPS
        fastcgi_param HTTPS $https_forwarded;
        fastcgi_param HTTP_X_FORWARDED_PROTO $http_x_forwarded_proto;
    }

    location ~ /\.ht {
        deny all;
    }

    # Redirección local opcional, por si llega tráfico directo sin pasar por el ALB
    location ~ ^/.well-known/acme-challenge/ {
        root /var/www/html;
        allow all;
    }
}
