<?php
define( 'DB_NAME', '{{ wp_db_name }}' );
define( 'DB_USER', '{{ wp_db_user }}' );
define( 'DB_PASSWORD', '{{ wp_db_password }}' );
define( 'DB_HOST', 'localhost' );
define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );


# Inyección de las claves SALT descargadas
{{ wp_salts }}

# Prefijo de las tablas en la base de datos
$table_prefix = 'wp_';

# Activar/desactivar modo depuración
define( 'WP_DEBUG', false );

# Define la ruta raíz del sitio
if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', __DIR__ . '/' );
}
	
# Carga el núcleo de WordPress
require_once ABSPATH . 'wp-settings.php';






